* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


.entity {
    position: absolute;
    transform-origin: 50% 50%;
}


#player_element {
    width: 40px;
    height: 40px;
    background-color: red;
}


.bullet {
    width: 5px;
    height: 5px;
    background-color: crimson;
}